[credential]
	helper = store
[user]
	email = git@jeykey.net
	name = Jakob Klemm
	signingkey = A5B4F5A160C17CE6A9C46CDA9A129DFC0754B9AA
[init]
	defaultBranch = master
[credentials]
	helper = store
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[rerere]
	enabled = true
[maintenance]
	repo = /home/jeykey/Downloads/testcp
[alias]
	bb = !~/.git-branch
