# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
elpa/

# reftex files
*.rel

# AUCTeX auto folder
auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# Hoth
hoth/hoth

# Added
auto-save-list/

README.org~
config.el~
init.el~
setup.el~
auto-save/

eln-cache/
quelpa/

var/
etc/
transient/
server/
custom.el

straight/
/straight/

*.pdf
elpa/
_minted-config/
config.pyg
config.tex
config.el
etc/
var/

places
history
desktop
emacs.desktop
desktop/
.emacs.desktop
*.lock

xmonad-x86_64-linux
xmonad.hi
xmonad.o

recentf
org-roam.db

.cache/
.lsp-session-v1
bookmarks
url/
*.lock
session.*
	
/emacs/.emacs.d/amx-items
